.soundcloud-player-stats {

    .rank {
        font-weight: bold;
    }

    .delta {
        .fa-arrow-up {
            color: green;
        }
        .fa-arrow-down {
            color: red;
        }
        .fa-star {
            color: #ffaa17;
        }
    }

    .info {
        .fa {
            cursor: pointer;

            color: #1e81e5;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: blue;
            }
        }
    }




}