<div class="track-stat-charts">

    <span class="glyphicon glyphicon-remove close"></span>

    <div class="content">

        <div class="charts-container">
            <div class="chart-row">

                <div class="track-chart">
                    <h3>Playback Rank</h3>

                    <nvd3-line-chart
                      data="chartDataPlaybackRank"
                      yAxisTickFormat="formatNegativeAdjuster()"
                      xAxisTickFormat="formatTimeAxis()"
                      xAxisLabel="Date"
                      yAxisLabel="Rank"
                      showXAxis="true"
                      showYAxis="true"
                      forceY="[-1, minValue]"
                      width="500"
                      height="300"
                      margin="{left: 80}"
                      >
                        <svg></svg>
                    </nvd3-line-chart>

                </div>

                <div class="track-chart">
                    <h3>Favourites Rank</h3>

                    <nvd3-line-chart
                      data="chartDataFavouritesRank"
                      yAxisTickFormat="formatNegativeAdjuster()"
                      xAxisTickFormat="formatTimeAxis()"
                      xAxisLabel="Date"
                      yAxisLabel="Rank"
                      showXAxis="true"
                      showYAxis="true"
                      forceY="[-1, minValue]"
                      width="500"
                      height="300"
                      margin="{left: 80}"
                      >
                        <svg></svg>
                    </nvd3-line-chart>

                </div>


            </div>

            <div class="chart-row">

                <div class="track-chart">
                    <h3>Daily Playbacks</h3>

                    <nvd3-discrete-bar-chart
                      data="chartDataPlaybackDeltas"
                      yAxisTickFormat="formatNumbers()"
                      xAxisTickFormat="formatTimeAxis()"
                      xAxisLabel="Date"
                      yAxisLabel="Daily Playbacks"
                      showXAxis="true"
                      showYAxis="true"
                      width="500"
                      height="300"
                      margin="{left: 80}"
                      >
                        <svg></svg>
                    </nvd3-discrete-bar-chart>

                </div>

                <div class="track-chart">
                    <h3>Total Playbacks</h3>

                    <nvd3-discrete-bar-chart
                      data="chartDataPlaybacks"
                      yAxisTickFormat="formatNumbers()"
                      xAxisTickFormat="formatTimeAxis()"
                      xAxisLabel="Date"
                      yAxisLabel="Total Playbacks"
                      showXAxis="true"
                      showYAxis="true"
                      width="500"
                      height="300"
                      margin="{left: 80}"
                      >
                        <svg></svg>
                    </nvd3-discrete-bar-chart>

                </div>


            </div>

        </div>


    </div>
</div>
